* {
   font-family: "JetBrainsMono Nerd Font", monospace;
   font-size: 13px;
   border: none;
   border-radius: 0;
}

window#waybar {
  background: rgba(20, 20, 24, 0.35);
  border: 1px solid rgba(205, 214, 244, 0.15);
  border-radius: 14px;
  
  margin: 6px 10px 0px 20px; 
  
  padding: 6px 10px;
  box-shadow: none;
  color: #cdd6f4;
}


#workspaces button {
    color: #efcae2;
    padding: 0 4px;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
    border: none;
}

#workspaces button label {
  font-size: 18px;
}

#workspaces button.active label {
  font-size: 18px;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.1);
    color: #13d165;
    margin: 3px 2px 3px 2px;
    border-radius: 10px;
    box-shadow: none;
    text-shadow: none;
    transition: background 0.2s ease;
}

#workspaces button.active {
    color: #efcae2;
    font-size: 18px;
}

#workspaces button.urgent {
    color: #e84250;
}

/* --- MÓDULOS DE ESTADO --- */
  #clock { color: #efcae2}

  
  /* Temperatura */
  #temperature {color: #efcae2}
  #temperature.critical {color: #ca0a1d}
  
  /* NetWork */
  #network {color: #efcae2}
  #network.disconnected {color: #ca0a1d}
  #network.disabled {color: #a2aec1}
  
  /* Bateria */
  #battery {color: #efcae2}
  #battery.warning {color: #f9853d}
  #battery.critical {color: #390006}
  
  /* Audio */
    #pulseaudio {color: #ca1f30}
    #pulseaudio.zero {color: #72cf9a}
    #pulseaudio.high {color: #efcae2}
  
  /* Power-Profiles */
    #power-profiles-daemon.power-saver {color: #6ed561}
    #power-profiles-daemon.balanced {color: #6a4d9b}
    #power-profiles-daemon.performance {color: #ca1f30}

  /* Bluetooth */
    #custom-bluetooth.enabled {color: #f6afdd}
    #custom-bluetooth.disabled {color: #aeb3bb}


/* --- ESTRUCTURA Y HOVER --- */

#workspaces, #clock, #custom-bluetooth, #temperature, 
  #power-profiles-daemon, #tray, #custom-spotify-tray {
      padding: 0 8px;
  }

  #clock:hover, #custom-bluetooth:hover, #temperature:hover, #power-profiles-daemon:hover, #custom-spotify-tray:hover {
      background-color: rgba(255, 255, 255, 0.1);
      margin: 3px 3px;
      border-radius: 14px;
  }
  
  #status {
    padding: 0 6px 0 2px;
    margin: 3px 3px;
    border-radius: 14px;
  }

  #status:hover{
    background: rgba(255,255,255,0.10);
  }
  #pulseaudio{
    padding: 0 16px 0 6px;
  }
  #battery {
    padding: 0 8px;
  }


/* --- CALENDARIO DESPLEGABLE --- */
tooltip {
    background-color: rgba(34, 49, 40, 0.95);
    border: 1px solid #5ac488;
    border-radius: 14px;
}
tooltip label {
    font-size: 15px; 
    padding: 5px;
}